/* CSS styles for the dashboard */

body {
    font-family: 'Arial', sans-serif; /* Setting the font family for the body */
    margin: 0;
    padding: 0;
    background: linear-gradient(#e66465, #9198e5); /* Setting the background color for the body */
}


header {
    background-color: #5c646b; /* Setting the background color for the header */
    color: #ffffff; /* Setting the text color for the header */
    padding: 20px; /* Adding padding to the header */
    text-align: center; /* Aligning the text in the center of the header */
}

.container {
    display: flex; /* Setting display property to flex for the container */
    justify-content: center; /* Aligning items horizontally in the center */
    align-items: flex-start; /* Aligning items vertically at the start */
    flex-wrap: wrap; /* Allowing items to wrap when necessary */
    margin-top: 20px; /* Adding top margin to the container */
 
}

.chart-container {
    width: 400px; /* Setting width for the chart container */
    height: 500px;/* Setting height for the chart container */
    justify-content: space-between;
    margin: 10px; /* Adding margin around the chart container */
    padding: 20px; /* Adding padding inside the chart container */
    border-radius: 10px; /* Adding border radius to create rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding box shadow for a subtle effect */
    background-color: #ffffff; /* Setting background color for the chart container */
    text-align: center; /* Aligning text in the center of the chart container */
}

.carousel-inner {
    justify-content: center;
    align-items: center;
    display: flex;
  }

canvas {
    width: auto; /* Setting canvas width to 100% of its container */
    height: 100px; /* Setting canvas height to 100% of its container */
    margin-top: 50px;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    position: relative;
    grid-template-columns: 2fr 2fr;

}
